In [8]:
# I really likes these in alphabetial order, and sorted by 'import' then 'from'
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from env import user, password, host
from scipy import stats

A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

In [5]:
# Poisson are a bit confusing to me.

# This is the mean or average chance of a result in a Poisson
λ = 2

What is the probability that no cars drive up in the noon hour?
What is the probability that 3 or more cars come through the drive through?
How likely is it that the drive through gets at least 1 car?

In [23]:
# We're looking for a particular value, and we can only have whole cars (descrete), so it's going to be pmf.
stats.poisson(λ).pmf(0) # This is a long number, so we'll round to the nearest percent.
round(stats.poisson(λ).pmf(0), 2) # Now to make it pretty.
print(f"~{(round(stats.poisson(λ).pmf(0) * 100))}% chance of no cars.")

~14% chance of no cars.

In [22]:
# looking for greater than 2 (aka 3 or more), so it's an SF, using the number we want greater than (2)
stats.poisson(λ).sf(2)
# make it pretty?
print(f"~{round(stats.poisson(λ).sf(2) * 100)}% chance of 3 or more cars")

~32% chance of 3 or more cars

In [26]:
# This is still a greater than, just of 0 this time.
stats.poisson(λ).sf(0)
# making it pretty.
print(f"~{round(stats.poisson(λ).sf(0) * 100)}% chance of at least 1 car")

~86% chance of at least 1 car

Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

- What grade point average is required to be in the top 5% of the graduating class?
- What GPA constitutes the bottom 15% of the class?
- An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
- If I have a GPA of 3.5, what percentile am I in?

In [28]:
# I'm not a maths major, I think I'll stick with English in my code, the Lambda from the last one was... bad enough.
grade_mean = 3.0
grade_sd = 0.3

In [32]:
# normal distribution so:
grade_distribution = stats.norm(grade_mean,grade_sd)

In [35]:
# we're looking for value of a probability, what do we need to be in the top 5%? 
# It seems we can use both isf (the greater than) or the up to and incuding a point?
grade_distribution.isf(0.05)
grade_distribution.ppf(0.95)
grade_distribution.ppf(0.95) == grade_distribution.isf(0.05)

True

In [40]:
# GPA are normally rounded to the hundereds place, so I'm doing so here too.

print(f"Need a {round(grade_distribution.isf(0.05),2)} GPA or higher to be in the top 5%")

Need a 3.49 GPA or higher to be in the top 5%

In [39]:
# now the bottom 15%
grade_distribution.ppf(0.15)
print(f"A GPA of {round(grade_distribution.ppf(0.15),2)} or Lower constitutes the lower 15% of class.")

A GPA of 2.69 or Lower constitutes the lower 15% of class.

A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question. 
What is the probability that at least one of your first 60 answers is correct?

The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

What percent of employees earn less than 60,000?
What percent of employees earn more than 95,000?
What percent of employees earn between 65,000 and 80,000?
What do the top 5% of employees make?

In [3]:
url = f'mysql+pymysql://{user}:{password}@{host}/employees'
query = '''
SELECT * FROM salaries s 
WHERE s.to_date > NOW()
'''

current_salaries = pd.read_sql(query,url)

In [4]:
current_salaries.head()

   emp_no  salary   from_date     to_date
0   10001   88958  2002-06-22  9999-01-01
1   10002   72527  2001-08-02  9999-01-01
2   10003   43311  2001-12-01  9999-01-01
3   10004   74057  2001-11-27  9999-01-01
4   10005   94692  2001-09-09  9999-01-01